<template>
  <v-row justify="center" align-content="center">
    <v-col>
      <v-card color="white" height="full">
        <v-card-title class="text-sm-h4 text-h5 font-weight-bold table-style"
          >ショッピングカート</v-card-title
        >
        <v-row justify="center">
          <v-col cols="11">
            <v-simple-table
              fixed-header
              height="100%"
              style="min-height: 400px; outline: solid 1px rgb(200, 200, 200)"
            >
              <template v-slot:default>
                <thead>
                  <tr>
                    <th
                      class="text-left sub-title blue white--text"
                      width="40%"
                    >
                      商品名
                    </th>
                    <th
                      class="text-left sub-title blue white--text"
                      width="20%"
                    >
                      数量
                    </th>
                    <th
                      class="text-left sub-title blue white--text"
                      width="40%"
                    >
                      価格
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(good, index) in cart" :key="good.name">
                    <td class="title">
                      {{ good.name }}
                      <v-img :src="good.image" class="img-size"></v-img>
                    </td>
                    <td class="title">
                      <v-row justify="start">
                        <v-col cols="1" class="mt-6">{{ good.count }}</v-col>
                        <v-col cols="1" class="pr-12">
                          <v-btn
                            x-small
                            fab
                            dark
                            color="light-blue"
                            @click="decrementCount(index)"
                          >
                            <v-icon dark>mdi-minus</v-icon>
                          </v-btn>
                          <v-btn
                            x-small
                            fab
                            dark
                            color="light-blue"
                            class="mt-2"
                            @click="incrementCount(index)"
                          >
                            <v-icon dark>mdi-plus</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </td>
                    <td class="title">
                      ￥{{ (good.price * good.count).toLocaleString() }}
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col lg="3" sm="6" cols="11">
            <v-simple-table style="outline: solid 1px rgb(200, 200, 200)">
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td width="50%" class="title grey white--text">合計金額</td>
                    <td width="50%" class="title">
                      ￥{{ total.toLocaleString() }}
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-btn
            :disabled="processing"
            large
            color="primary"
            height="2cm"
            width="6cm"
            class="title"
            @click="clickBuy()"
            >購入する</v-btn
          >
        </v-row>
        <br />
      </v-card>
    </v-col>

    <v-dialog v-model="loginDialog" persistent width="500">
      <v-card>
        <v-card-title class="grey lighten-2" style="font-size: 28px">
          Please login
        </v-card-title>

        <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
          ログインしてください。ログインページへ移動します。
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <router-link
            id="info-nav"
            :to="{
              name: 'Login',
              params: {
                from: 'Cart',
              },
            }"
            style="font-size: 22px"
            @click.native="loginDialog = false"
            >OK</router-link
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="purchaseDialog" persistent width="500">
      <v-card>
        <v-card-title class="grey lighten-2" style="font-size: 28px">
          Purchase success!!
        </v-card-title>

        <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
          商品を購入しました。ホームに戻ります。
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <router-link
            id="info-nav"
            :to="{
              name: 'Home',
            }"
            style="font-size: 22px"
            @click.native="purchaseDialog = false"
            >OK</router-link
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import firebase from "firebase";
import {
  init,
  checkStoreAndUpdateStore,
  addUserHistory,
  setUserCart,
} from "@/api/api";
export default {
  name: "Cart",
  props: {
    id: String,
    cart: Object,
  },
  data() {
    return {
      processing: false,
      total: 0,
      loginDialog: false,
      purchaseDialog: false,
    };
  },
  methods: {
    // 日付をyyyy/mm/dd形式で取得する関数
    getNowYYYYMMMDD() {
      let dt = new Date();
      let y = dt.getFullYear();
      let m = ("00" + (dt.getMonth() + 1)).slice(-2);
      let d = ("00" + dt.getDate()).slice(-2);
      let result = y + "/" + m + "/" + d;
      return result;
    },
    async clickBuy() {
      // ログインされていないときは、ログインページへ移動
      if (this.id === "") {
        this.loginDialog = true;
        return;
      }
      this.processing = true;
      let buyGoods = [];
      buyGoods = this.cart.filter((good) => good.count > 0);
      let lackGoods = [];
      try {
        lackGoods = await checkStoreAndUpdateStore(buyGoods);
      } catch (err) {
        this.processing = false;
        console.log(err);
        alert("エラーが発生しました。もう一度やり直してください。");
        return;
      }
      if (lackGoods.length > 0) {
        alert("在庫が不足している商品がございます。" + lackGoods);
      } else {
        let today = this.getNowYYYYMMMDD();
        buyGoods.forEach((good, index, array) => {
          array[index]["date"] = today;
          array[index].price = good.price * good.count;
        });
        await addUserHistory(this.id, buyGoods);
        this.$emit("clearCart");
        this.purchaseDialog = true;
      }
      this.processing = false;
    },
    async incrementCount(index) {
      let origin = this.cart[index];
      origin.count++;
      this.total += origin.price;
      this.$set(this.cart, index, origin);
      // カートをDBに保存
      if (this.id !== "") await setUserCart(this.id, this.cart);
    },
    async decrementCount(index) {
      let origin = this.cart[index];
      if (origin.count > 0) {
        origin.count--;
        this.total -= origin.price;
        this.$set(this.cart, index, origin);
      }
      // カートをDBに保存
      if (this.id !== "")
        await setUserCart(
          this.id,
          this.cart.filter((good) => good.count > 0)
        );
    },
  },
  mounted: async function () {
    init(firebase);
    // 個数が0の商品を除去
    this.cart = this.cart.filter((good) => good.count > 0);
    // カートをDBに保存
    if (this.id !== "") await setUserCart(this.id, this.cart);
    // 合計金額の計算
    this.cart.forEach((good) => (this.total += good.price * good.count));
  },
};
</script>

<style scoped>
.table-body {
  outline: solid 1px black;
}

.img-size {
  max-width: 300px;
}
@media screen and (max-width: 750px) {
  .img-size {
    max-width: 150px;
  }
}
</style>