<template>
  <v-row justify="center" align-content="center">
    <v-col>
      <div v-if="!isLoading" justify="center">
        <ui v-for="(good, index) of goods" :key="good.name">
          <v-row justify="center">
            <v-col lg="10" sm="10" cols="full">
              <v-card color="white">
                <v-card-title class="text-sm-h4 text-h5 font-weight-bold"
                  ><v-checkbox
                    v-model="goods[index].isChecked"
                    color="blue"
                    large
                  />
                  {{ good.name }}</v-card-title
                >
                <v-row justify="center">
                  <v-col>
                    <v-img
                      :src="good.image"
                      class="mx-5"
                      max-height="500px"
                    ></v-img>
                  </v-col>
                  <v-col>
                    <v-card-text class="title"
                      >【出品者】<br />
                      <div style="margin-left: 20px">
                        {{ good.seller }}
                      </div></v-card-text
                    >
                    <v-card-text class="title"
                      >【説明】<br />
                      <div style="margin-left: 20px">
                        {{ good.description }}
                      </div></v-card-text
                    >
                    <v-card-text v-if="good.store < 10" class="title"
                      >【在庫状況】<br />
                      <div style="margin-left: 20px">
                        残り{{ good.store }}点です。お早めにご注文ください。
                      </div></v-card-text
                    >
                    <v-card-text v-else class="title"
                      >【在庫状況】<br />
                      <div style="margin-left: 20px">
                        多数ございます。
                      </div></v-card-text
                    >
                    <v-card-text
                      class="title"
                      style="color: blue; text-decoration: underline"
                      >価格 ： ￥{{ good.price.toLocaleString() }}</v-card-text
                    >
                  </v-col>
                </v-row>
                <v-row justify="center">
                  <v-btn
                    :disabled="isLoading"
                    large
                    color="primary"
                    height="2cm"
                    width="6cm"
                    class="title mb-3"
                    @click="clickInCart(good)"
                    >カートに入れる</v-btn
                  >
                </v-row>
              </v-card>
              <br />
              <br />
            </v-col>
          </v-row>
        </ui>
        <v-row class="sticky-button">
          <v-btn
            :disabled="isLoading"
            color="secondary"
            height="2cm"
            width="230px"
            class="subtitle mx-auto"
            @click="clickInCarts()"
          >
            ☑ のものをまとめてカートへ</v-btn
          >
        </v-row>
      </div>
      <div v-else justify="center">
        <v-card-text class="loader"></v-card-text>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import firebase from "firebase";
import { init, getGoods, getOtherGoods } from "@/api/api";
export default {
  name: "Goods",
  data() {
    return {
      categoryName: "",
      goods: [],
      isCheckedArray: [],
      isLoading: false,
    };
  },
  methods: {
    async pegeUpdate() {
      this.isLoading = true;
      this.categoryName = this.$route.query.categoryName;
      if (this.categoryName == "その他") {
        try {
          this.goods = await getOtherGoods();
        } catch {
          alert(
            "サーバとの通信でシステムエラーが発生しました。管理者にお問い合わせください。"
          );
        }
      } else {
        try {
          this.goods = await getGoods(this.categoryName);
        } catch {
          alert(
            "サーバとの通信でシステムエラーが発生しました。管理者にお問い合わせください。"
          );
        }
      }
      this.goods.forEach(() => (this.goods.isChecked = false));
      this.isLoading = false;
    },
    clickInCart(good) {
      this.$emit("addCart", [good]);
      this.$router.push({ name: "Cart" });
    },
    clickInCarts() {
      let goods = this.goods.filter((good) => good.isChecked);
      this.$emit("addCart", goods);
      this.$router.push({ name: "Cart" });
    },
  },
  watch: {
    $route() {
      this.pegeUpdate();
    },
  },
  mounted: async function () {
    init(firebase);
    await this.pegeUpdate();
  },
};
</script>

<style>
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.sticky-button {
  position: fixed;
  right: 20px;
  bottom: 10px;
}
@media screen and (max-width: 450px) {
  .sticky-button {
    position: relative;
    right: 0;
    bottom: 0;
  }
}
</style>
