<template>
  <v-app-bar
    height="80vh"
    width="100%"
    src="../../images/header.jpeg"
    app
    clipped-left
  >
    <v-hover v-slot:default="{ hover }">
      <v-icon
        :size="hover ? 35 : 30"
        class="open-btn"
        color="black"
        @click="$emit('clickSideMenu')"
        >fas fa-list</v-icon
      >
    </v-hover>
    <router-link
      to="/"
      class="header-title font-weight-bold"
      style="color: black; text-decoration: none"
      ><div class="title-text-pc">てんまるショッピング</div>
      <div class="title-text-sp">
        てんまる
        <div style="margin-left: 30px">ショッピング</div>
      </div>
    </router-link>
    <div v-if="isLogined" class="login-scope">
      <li class="btn-login" @click="dialog = true">Logout</li>
    </div>
    <div v-else class="login-scope">
      <router-link tag="li" id="info-nav" class="btn-login" to="/register"
        >Sign up</router-link
      >
      <router-link tag="li" id="info-nav" class="btn-login" to="/login"
        >Login</router-link
      >
    </div>
    <router-link id="info-nav" to="/cart" class="cart-position"
      ><v-img class="cart-icon" src="../../public/cart.png" />
      <div class="cart-text">カート</div></router-link
    >

    <v-dialog v-model="dialog" persistent width="500">
      <v-card>
        <v-card-title class="grey lighten-2" style="font-size: 28px">
          Logouted!!
        </v-card-title>

        <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
          ログアウトしました。ホームに移動します。
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <router-link
            id="info-nav"
            :to="{
              name: 'Home',
            }"
            style="font-size: 22px"
            @click.native="
              dialog = false;
              $emit('changeLoginState', '', [], []);
            "
            >OK</router-link
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app-bar>
</template>

<script>
export default {
  name: "haeder",
  props: {
    isLogined: Boolean,
  },
  data() {
    return {
      dialog: false,
    };
  },
  methods: {},
};
</script>

<style>
.title-text-sp {
  display: none;
}
.title-text-pc {
  display: block;
}
.header-title {
  position: relative;
  color: black;
  font-size: 40px;
  left: 3%;
}
.login-scope {
  list-style: none;
  margin: 0 0 0 auto;
  display: flex;
}
.btn-login {
  background-color: #ccffff;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 20px;
  padding: 0 10px;
}

.btn-login:hover {
  background-color: darkblue;
  color: #fff;
  letter-spacing: 2px;
}

.open-btn {
  position: absolute;
  padding: 1vh 1vh;
  left: -2vh;
  bottom: -1vh;
}
.cart-icon {
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.cart-text {
  margin-left: 15px;
  color: rgb(75, 75, 75);
  text-decoration: underline;
  text-decoration-color: rgb(75, 75, 75);
}
.cart-position:hover .cart-icon {
  width: 45px;
}

@media screen and (max-width: 750px) {
  .title-text-sp {
    display: block;
  }
  .title-text-pc {
    display: none;
  }
  .header-title {
    width: 180px;
    color: black;
    font-size: 22px;
  }
  .login-scope {
    position: absolute;
    list-style: none;
    right: 1px;
    top: 1px;
    display: flex;
  }
  .btn-login {
    background-color: #ccffff;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    border: 2px solid #000;
    transition: all 0.3s;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 10px;
  }
  .btn-login:hover {
    background-color: darkblue;
    color: #fff;
    letter-spacing: 2px;
  }
  .open-btn {
    position: absolute;
    border-radius: 7px;
    left: -2vh;
    bottom: -2vh;
  }
  .cart-icon {
    width: 35px;
  }
  .cart-position {
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
  .cart-text {
    display: none;
  }
}
</style>