<template>
  <v-row justify="center" align-content="center">
    <v-col>
      <v-card color="white" height="full">
        <v-card-title class="text-sm-h4 text-h5 font-weight-bold"
          >本サイトについて</v-card-title
        >
        <v-card-text class="title"
          >本サイトは作者が遊びで作ったサイトです。商品の購入等は一切できませんので、ご了承ください。</v-card-text
        >
        <v-card-text class="display-1">何に興味がありますか？</v-card-text>
        <v-row justify="center">
          <router-link
            :to="{ name: 'Goods', query: { categoryName: 'ファッション' } }"
            class="link-to-category"
            >ファッション</router-link
          >
        </v-row>
        <v-row justify="center">
          <router-link
            :to="{ name: 'Goods', query: { categoryName: 'ゲーム' } }"
            class="link-to-category"
            >ゲーム</router-link
          >
        </v-row>
        <v-row justify="center">
          <router-link
            :to="{ name: 'Goods', query: { categoryName: '雑貨' } }"
            class="link-to-category"
            >雑貨</router-link
          >
        </v-row>
        <v-row justify="center">
          <router-link
            :to="{ name: 'Goods', query: { categoryName: 'その他' } }"
            class="link-to-category"
            >その他</router-link
          >
        </v-row>
        <v-card-text class="title">左のリストからも移動できます。</v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style>
.link-to-category {
  text-decoration: underline none;
  color: blue;
  font-size: 40px;
}
</style>