<template>
  <v-row justify="center" align-content="center">
    <v-col lg="11">
      <v-card color="white">
        <v-card-title class="text-sm-h4 text-h5 font-weight-bold"
          >会員情報</v-card-title
        >
        <v-row justify="center">
          <v-col lg="11" sm="11" cols="full">
            <v-card-text class="title indigo--text">
              【ログインID】
              <v-btn
                :disabled="changeId"
                right
                absolute
                large
                color="primary"
                class="subtitle"
                @click="changeId = true"
                >変更</v-btn
              >
            </v-card-text>
            <div v-if="!changeId">
              <v-card-text class="text-sm-h4 text-h5 ml-4">{{
                id
              }}</v-card-text>
            </div>
            <div v-else>
              <v-col>
                <v-text-field
                  :rules="[rules.required]"
                  class="title mx-5"
                  background-color="white"
                  label="New ID"
                  outlined
                  height="1cm"
                  v-model="tmpId"
                ></v-text-field>
                <v-row>
                  <v-btn
                    :disabled="processing"
                    color="primary"
                    class="subtitle ml-8 mb-3"
                    large
                    @click="clickApplyChangeId()"
                    >適用</v-btn
                  >
                  <v-btn
                    :disabled="processing"
                    color="primary"
                    class="subtitle ml-3"
                    large
                    @click="
                      changeId = false;
                      tmpId = id;
                    "
                    >クリア</v-btn
                  >
                </v-row>
              </v-col>
            </div>
            <v-card-text class="title indigo--text">
              【パスワード】
              <v-btn
                :disabled="changePassword"
                right
                absolute
                large
                color="primary"
                class="subtitle"
                @click="changePassword = true"
                >変更</v-btn
              >
            </v-card-text>
            <div v-if="!changePassword">
              <v-card-text class="text-sm-h4 text-h5 ml-4">******</v-card-text>
            </div>
            <div v-else>
              <v-col>
                <v-text-field
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required]"
                  class="title mx-5"
                  background-color="white"
                  :type="show1 ? 'text' : 'password'"
                  label="Old password"
                  outlined
                  height="1cm"
                  v-model="oldPassword"
                  @click:append="show1 = !show1"
                ></v-text-field>
                <v-text-field
                  :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show2 ? 'text' : 'password'"
                  class="title mx-5"
                  background-color="white"
                  label="New password"
                  hint="At least 8 characters"
                  height="1cm"
                  outlined
                  v-model="tmpPassword"
                  counter
                  @click:append="show2 = !show2"
                ></v-text-field>
                <v-text-field
                  :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.passwordmatch]"
                  :type="show3 ? 'text' : 'password'"
                  class="title mx-5"
                  background-color="white"
                  label="Retype new password"
                  hint="At least 8 characters"
                  height="1cm"
                  outlined
                  v-model="tmpPassword2"
                  counter
                  @click:append="show3 = !show3"
                ></v-text-field>
                <v-row>
                  <v-btn
                    :disabled="
                      !oldPassword ||
                      !tmpPassword ||
                      !tmpPassword2 ||
                      tmpPassword < 8 ||
                      tmpPassword !== tmpPassword2 ||
                      processing
                    "
                    color="primary"
                    class="subtitle ml-8 mb-3"
                    large
                    @click="clickApplyChangePassword()"
                    >適用</v-btn
                  >
                  <v-btn
                    :disabled="processing"
                    color="primary"
                    class="subtitle ml-3"
                    large
                    @click="
                      changePassword = false;
                      oldPassword = '';
                      tmpPassword = '';
                      tmpPassword2 = '';
                    "
                    >クリア</v-btn
                  >
                </v-row>
              </v-col>
            </div>
            <v-card-text class="title indigo--text">【購入履歴】</v-card-text>
            <v-row justify="center">
              <v-col cols="11">
                <v-simple-table
                  fixed-header
                  height="500px"
                  style="outline: solid 1px rgb(200, 200, 200)"
                >
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th
                          class="text-left sub-title blue white--text"
                          width="10%"
                        >
                          日付
                        </th>
                        <th
                          class="text-left sub-title blue white--text"
                          width="40%"
                        >
                          品名
                        </th>
                        <th
                          class="text-left sub-title blue white--text"
                          width="20%"
                        >
                          数量
                        </th>
                        <th
                          class="text-left sub-title blue white--text"
                          width="30%"
                        >
                          価格
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="element in history" :key="element.date">
                        <td class="title">{{ element.date }}</td>
                        <td class="title">{{ element.name }}</td>
                        <td class="title">{{ element.count }}</td>
                        <td class="title">
                          ￥{{ element.price.toLocaleString() }}
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-btn
              :disabled="changePassword"
              style="display: flex"
              large
              color="red"
              class="subtitle white--text ml-auto mr-4"
              @click="confirmDialog = true"
              >退会</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-col>

    <v-dialog v-model="confirmDialog" persistent width="500">
      <v-card>
        <v-card-title class="grey lighten-2" style="font-size: 28px">
          Confirm
        </v-card-title>

        <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
          本当に退会しますか？全ての会員情報が削除されます。
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn style="font-size: 22px" @click.native="confirmDialog = false"
            >キャンセル</v-btn
          >
          <v-btn
            style="font-size: 22px"
            @click.native="
              confirmDialog = false;
              clickLeave();
            "
            >OK</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent width="500">
      <v-card>
        <v-card-title class="grey lighten-2" style="font-size: 28px">
          Retired
        </v-card-title>

        <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
          退会処理が完了しました。ページを移動します。
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <router-link
            id="info-nav"
            :to="{
              name: 'Home',
            }"
            style="font-size: 22px"
            @click.native="dialog = false"
            >OK</router-link
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import firebase from "firebase";
import {
  init,
  getUser,
  updateAuthUserId,
  setUserId,
  updateAuthUserPassword,
  authentificateUser,
  deleteAuthUser,
  deleteUser,
} from "@/api/api";
export default {
  name: "Info",
  props: {
    id: String,
  },
  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      processing: false,
      history: [],
      changeId: false,
      changePassword: false,
      tmpId: "",
      oldPassword: "",
      tmpPassword: "",
      tmpPassword2: "",
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        passwordmatch: (value) =>
          value === this.tmpPassword || "Not match password",
      },
      confirmDialog: false,
      dialog: false,
    };
  },
  methods: {
    async clickApplyChangeId() {
      this.processing = true;
      try {
        await updateAuthUserId(this.tmpId);
      } catch (err) {
        this.processing = false;
        alert(err.message);
        return;
      }
      try {
        await setUserId(this.id, this.tmpId);
      } catch (err) {
        this.processing = false;
        alert(
          "システムエラーが発生し、IDが使用できなくなりました。管理者にお問い合わせください。"
        );
        return;
      }
      this.processing = false;
      this.changeId = false;
      this.$emit("changeId", this.tmpId);
    },
    async clickApplyChangePassword() {
      this.processing = true;
      try {
        await authentificateUser(this.id, this.oldPassword);
      } catch (err) {
        this.processing = false;
        alert(err.message);
        return;
      }
      try {
        await updateAuthUserPassword(this.tmpPassword);
      } catch (err) {
        this.processing = false;
        alert(
          "システムエラーが発生し、パスワードを変更できません。管理者にお問い合わせください。"
        );
        return;
      }
      this.processing = false;
      this.oldPassword = "";
      this.tmpPassword = "";
      this.tmpPassword2 = "";
      this.changePassword = false;
    },
    async clickLeave() {
      this.processing = true;
      try {
        await deleteUser(this.id);
        await deleteAuthUser();
      } catch (err) {
        this.processing = false;
        alert("ユーザーIDの削除に失敗しました。管理者にお問い合わせください。");
        return;
      }
      this.processing = false;
      this.$emit("changeLoginState", "", "");
      this.dialog = true;
    },
  },
  mounted: async function () {
    init(firebase);
    this.tmpId = this.id;
    this.history = (await getUser(this.id)).history;
  },
};
</script>