<template>
  <v-row justify="center" align-content="center">
    <v-col lg="6">
      <v-card color="white" height="full">
        <v-card-title class="text-h4 font-weight-bold">ログイン</v-card-title>
        <v-row justify="center">
          <v-col lg="5" sm="7" cols="11">
            <v-text-field
              class="title"
              height="2cm"
              background-color="#fafdff"
              label="ID"
              solo
              v-model="id"
            ></v-text-field>
            <v-text-field
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              class="title"
              height="2cm"
              background-color="#fafdff"
              label="Password"
              solo
              v-model="password"
              @click:append="show1 = !show1"
            ></v-text-field>
            <v-row justify="center">
              <v-btn
                :disabled="!id || !password || processing"
                color="primary"
                height="2cm"
                width="6cm"
                class="title"
                @click="clickLogin()"
                >ログイン</v-btn
              >
            </v-row>
            <v-row justify="center">
              <router-link to="/register" class="link-to-register"
                >会員登録へ進む</router-link
              >
            </v-row>
          </v-col>
        </v-row>
      </v-card>

      <v-dialog v-model="dialog" persistent width="500">
        <v-card>
          <v-card-title class="grey lighten-2" style="font-size: 28px">
            Login sucess!!
          </v-card-title>

          <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
            ログインしました。ページを移動します。
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn large color="primary" text @click="clickOk()"> OK </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
import firebase from "firebase";
import { init, authentificateUser, getUser } from "@/api/api.js";
export default {
  name: "Login",
  data() {
    return {
      dialog: false,
      show1: false,
      processing: false,
      id: "",
      password: "",
      cart: [],
    };
  },
  methods: {
    async clickLogin() {
      this.processing = true;
      try {
        await authentificateUser(this.id, this.password);
      } catch (err) {
        alert(err.message);
        this.processing = false;
        return;
      }
      try {
        this.cart = (await getUser(this.id)).cart;
      } catch (err) {
        alert(
          "システムエラーが発生し、そのIDではログインできません。管理者にお問い合わせください。"
        );
        this.processing = false;
        return;
      }
      this.dialog = true;
    },
    clickOk() {
      this.dialog = false;
      if (this.$route.params.from === "Cart") {
        this.$emit("changeLoginState", this.id, this.cart);
        this.$router.push({
          name: "Cart",
        });
      } else if (this.$route.params.to === "Info") {
        this.$emit("changeLoginState", this.id, this.cart);
        this.$router.push({
          name: "Info",
        });
      } else {
        this.$emit("changeLoginState", this.id, this.cart);
        this.$router.push({
          name: "Home",
        });
      }
    },
  },
  mounted: function () {
    init(firebase);
  },
};
</script>

<style>
.link-to-register {
  text-decoration: underline none;
  color: blue;
  font-size: 24px;
}
</style>