<template>
  <v-row justify="center" align-content="center">
    <v-col lg="9">
      <v-card color="white" height="full">
        <v-card-title class="display-1 font-weight-bold">会員登録</v-card-title>
        <v-row justify="center">
          <v-col lg="5" sm="7" cols="11">
            <v-text-field
              :rules="[rules.required]"
              class="title"
              height="2cm"
              background-color="#fafdff"
              label="ID"
              v-model="id"
              solo
            ></v-text-field>
            <v-text-field
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              class="title"
              height="2cm"
              background-color="#fafdff"
              label="Password"
              hint="At least 8 characters"
              solo
              v-model="password"
              counter
              @click:append="show1 = !show1"
            ></v-text-field>
            <v-text-field
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.passwordmatch]"
              :type="show2 ? 'text' : 'password'"
              class="title"
              height="2cm"
              background-color="#fafdff"
              label="Retype Password"
              solo
              v-model="password2"
              counter
              @click:append="show2 = !show2"
            ></v-text-field>
            <v-text-field
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required]"
              :type="show3 ? 'text' : 'password'"
              class="title"
              height="2cm"
              background-color="#fafdff"
              label="Creadit card (Last digit)"
              v-model="credit"
              maxlength="1"
              solo
              counter
              @click:append="show3 = !show3"
            ></v-text-field>
            <v-row justify="center">
              <v-btn
                :disabled="
                  !id ||
                  !credit ||
                  password.length < 8 ||
                  password !== password2 ||
                  processing
                "
                large
                color="primary"
                height="2cm"
                width="6cm"
                class="title"
                @click="clickRegister()"
                >会員登録</v-btn
              >
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-col>

    <v-dialog v-model="dialog" persistent width="500">
      <v-card>
        <v-card-title class="grey lighten-2" style="font-size: 28px">
          Register success!!
        </v-card-title>

        <v-card-text style="font-size: 22px; color: black; margin-top: 5px">
          会員登録が完了しました。ページを移動します。
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <router-link
            id="info-nav"
            :to="{
              name: 'Home',
            }"
            style="font-size: 22px"
            @click.native="dialog = false"
            >OK</router-link
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import firebase from "firebase";
import { init, addAuthUser, addUser } from "@/api/api";
export default {
  name: "Register",
  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      processing: false,
      id: "",
      credit: "",
      password: "",
      password2: "",
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        passwordmatch: (value) =>
          value === this.password || "Not match password",
      },
      dialog: false,
    };
  },
  methods: {
    async clickRegister() {
      this.processing = true;
      // firebaseのauthentificationサービスに登録したユーザーを追加する
      try {
        await addAuthUser(this.id, this.password);
      } catch (err) {
        alert(err.message);
        this.processing = false;
        return;
      }
      // firestoreサービスにユーザーを追加する（失敗時はシステムエラー）
      try {
        await addUser(this.id, this.credit);
      } catch (err) {
        alert(
          "システムエラーが発生し、そのIDを登録できません。管理者にお問い合わせください。"
        );
        this.processing = false;
        return;
      }
      this.$emit("changeLoginState", this.id, []);
      this.dialog = true;
    },
  },
  mounted: function () {
    init(firebase);
  },
};
</script>