<template>
  <v-navigation-drawer color="#001f43" app v-model="drawer" clipped>
    <div @click="onClickTitle()" class="sidemenu-title">
      <div class="dli-arrow-down">カテゴリから探す</div>
    </div>
    <vue-slide-up-down :active="active" class="sidemenu-lists">
      <div v-for="category of categories" :key="category">
        <router-link
          tag="li"
          id="info-nav"
          :to="{ name: 'Goods', query: { categoryName: category } }"
          class="sidemenu-list-text font-weight-bold"
          exact-active-class="sidemenu-list-active"
          @click.native="hiddenSideMenu()"
          >{{ category }}</router-link
        >
      </div>
    </vue-slide-up-down>
    <router-link
      tag="li"
      class="sidemenu-title"
      exact-active-class="sidemenu-list-active"
      to="/cart"
      >ショッピングカート</router-link
    >
    <router-link
      v-if="isLogined"
      tag="li"
      class="sidemenu-title"
      exact-active-class="sidemenu-list-active"
      to="/info"
      >会員情報の確認・変更</router-link
    >
    <router-link
      v-else
      tag="li"
      class="sidemenu-title"
      exact-active-class="sidemenu-list-active"
      :to="{
        name: 'Login',
        params: {
          to: 'Info',
        },
      }"
      >会員情報の確認・変更</router-link
    >
  </v-navigation-drawer>
</template>

<script>
import firebase from "firebase";
import { init, getCategories } from "@/api/api";
export default {
  name: "side-menu",
  props: {
    isLogined: Boolean,
  },
  data() {
    return {
      drawer: true,
      categories: [],
      active: true,
    };
  },
  methods: {
    displaySideMenu() {
      this.drawer = !this.drawer;
    },
    hiddenSideMenu() {
      if (window.innerWidth < 1250) this.drawer = false;
    },
    onClickTitle() {
      this.active = !this.active;
    },
  },
  mounted: async function () {
    init(firebase);
    this.categories = await getCategories();
    this.categories.push("その他");
  },
};
</script>

<style>
.sidemenu-lists {
  position: relative;
  width: 100%;
  background-color: #00152d;
}

.sidemenu-lists div {
  list-style: none;
  width: 100%;
  cursor: pointer;
}

.sidemenu-title {
  position: relative;
  color: white;
  font-size: 22px;
  padding: 20px 0 20px 20px;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
}

.sidemenu-title:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidemenu-lists div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidemenu-list-active {
  background-color: royalblue;
}

.sidemenu-list-text {
  color: white;
  font-size: 20px;
  padding: 15px 0 15px 50px;
}

.dli-arrow-down:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  display: block;
  right: 20px;
  bottom: 35px;
  width: 15px;
  height: 15px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
</style>

