<template>
  <v-app>
    <SideMenu ref="sidemenuComponent" :isLogined="isLogined"/>
    <Header
      @clickSideMenu="$refs.sidemenuComponent.displaySideMenu()"
      @changeLoginState="changeLoginState"
      :isLogined="isLogined"
      class="min-width"
    />
    <v-content>
      <v-container fluid style="background-color: #EAEDED; height: 100%;">
        <div v-if='id ==""' class="welcom-text">
          ようこそ！ゲスト様
        </div>
        <div v-else class="welcom-text">
          ようこそ！{{ id }}様
        </div>
        <router-view
          @changeLoginState="changeLoginState"
          @changeId="changeId"
          @addCart="addCart"
          @clearCart="cart = []"
          :id="id"
          :cart="cart"
          class="min-width"
          style="height: 100%; padding-top: 50px;"
        />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import firebase from "firebase";
import { init, setUserCart } from "@/api/api";
import Header from "./components/Header";
import SideMenu from "./components/SideMenu";
export default {
  name: "App",
  components: {
    Header,
    SideMenu
  },
  data() {
    return {
      isLogined: false,
      id: "",
      cart: []
    };
  },
  methods: {
    addCart(cart) {
      cart.forEach(good => {
        for (var i = 0; i < this.cart.length; i++) {
          if (good.name === this.cart[i].name) {
            this.cart[i].count += 1;
            break;
          }
        }
        if (i == this.cart.length) {
          good.count = 1;
          this.cart.push(good);
        }
      });
    },
    changeLoginState(id, cart) {
      this.isLogined = !this.isLogined;
      this.id = id;
      if (cart.length > 0) {
        this.addCart(cart);
      }
    },
    changeId(id) {
      this.id = id;
    }
  },
  watch: {
    id(val) {
      if (val == "") this.cart = [];
    },
    async cart(val) {
      if (this.isLogined) {
        await setUserCart(this.id, val);
      }
    }
  },
  mounted: function() {
    init(firebase);
  }
};
</script>

<style>
.welcom-text {
  font-size: 24px;
  color: grey;
  font-weight: bold;
  height: 5px;
  position: absolute
}

@media screen and (max-width: 480px) {
.welcom-text {
  font-size: 18px;
  color: grey;
  font-weight: bold;
  height: 5px;
  position: absolute
}
}
.min-width {
  min-width: 354px;
}
@media screen and (min-width: 480px) {
.min-width {
  min-width: 480px;
}

}
</style>